@{
    ViewData["Title"] = "Component Examples - Index";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li><a asp-action="Server">Server</a></li>
    <li><a asp-action="ServerPrerendered">Server Prerendered</a></li>
    <li><a asp-action="Static">Static</a></li>
    <li><a asp-action="WebAssembly">Web Assembly</a></li>
    <li><a asp-action="WebAssemblyPrerendered">Web Assembly Prerendered</a></li>
</ul>
